 <footer class="site-footer">

  <div class="wrapper">

<!--     <h2 class="footer-heading">University of Tehran</h2> -->
         <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
 
          <ul class="contact-list">
          <li><strong>University of Tehran</strong></li>
			<li></li>
          <li><a href=" "> </a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
 
         <p class="text">
School of Electrical & Computer Engineering,<br />
University of Tehran,<br />
Tehran, Iran.<br />

      </div>

      <div class="footer-col  footer-col-3">
       <ul class="social-media-list">

<!--  <li>
    <a href=" ">
      <i class="fab fa-twitter" style="color:gray"></i>
    </a>
  </li>-->

  <li>
    <a href="http://hpnl.ut.ac.ir" target="_blank">
      <i class="fas fa-globe" style="color:gray"></i> hpnl.ut.ac.ir
    </a>
  </li>
   
        </ul>
      </div>
    </div>

  </div>

</footer>